coverage>=7.14.1
homeassistant>=2026.8.2,<2026.9.0
kohler>=0.1.1
idna>=3.15
mypy>=2.1.0
pygments>=2.20.0
pytest>=9.0.3
pytest-asyncio>=1.4.0
pytest-cov>=7.1.0
pytest-homeassistant-custom-component>=0.13.345
ruff>=0.15.20,<0.16.0
